@using IdentityServer4.WebAppMvc1.Models;

@{
    ViewData["Title"] = "products";
}
@model List<ProductViewModel>
<h1>Products</h1>
<table class="table">
    <thead>
        <tr>
           
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <th><a asp-action="Edit">Edit</a></th>
                <th><a asp-action="Delete">Delete</a></th>
            </tr>
        }
    </tbody>
</table>